<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <!-- Breadcrumbs -->
        <div class="bredcrumb_wrap">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
              </ol>
            </nav>	
        </div>
    </div>
</div>

<div class="row">
    <!-- Nombre de formations inscrites -->
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
        <div class="dashboard-stat">
            <div class="dashboard-stat-icon widget-1"><i class="ti-location-pin"></i></div>
            <div class="dashboard-stat-content"><h4><span class="cto">5</span></h4> <p>Formations Inscrites</p></div>
        </div>	
    </div>
    
    <!-- Formations en attente de confirmation -->
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
        <div class="dashboard-stat">
            <div class="dashboard-stat-icon widget-3"><i class="ti-user"></i></div>
            <div class="dashboard-stat-content"><h4><span class="cto">2</span></h4> <p>Formations en Attente</p></div>
        </div>	
    </div>
    
    <!-- Nombre de formations disponibles -->
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
        <div class="dashboard-stat">	
            <div class="dashboard-stat-icon widget-2"><i class="ti-pie-chart"></i></div>
            <div class="dashboard-stat-content"><h4><span class="cto">10</span></h4> <p>Formations Disponibles</p></div>
        </div>	
    </div>    
    
    <!-- Nombre de formations complètes -->
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
        <div class="dashboard-stat">
            <div class="dashboard-stat-icon widget-4"><i class="ti-bookmark"></i></div>
            <div class="dashboard-stat-content"><h4><span class="cto">3</span></h4> <p>Formations Complètes</p></div>
        </div>	
    </div>
</div>

<div class="row">
    <!-- D'autres informations spécifiques au stagiaire peuvent être ajoutées ici -->
    <div class="card w-100">
        <p-chart type="bar" [data]="basicData"></p-chart>
    </div>
</div>
