 <!-- ========================== About Elements ============================= -->
 <section>
    <div class="container">
    
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-9">
                <div class="sec-heading">
                    <h2>Power Success For <span class="theme-cl-2">Brand</span></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="achievement-wrap">
                    <div class="achievement-content">
                        <div class="ache-icon purple"><i class="ti-agenda"></i></div>
                        <h4><span class="cto">9.8</span>M</h4>
                        <p>Listing Posted</p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="achievement-wrap">
                    <div class="achievement-content">
                        <div class="ache-icon green"><i class="ti-user"></i></div>
                        <h4><span class="cto">200</span>K</h4>
                        <p>Total Authors</p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="achievement-wrap">
                    <div class="achievement-content">
                        <div class="ache-icon yellow"><i class="ti-medall-alt"></i></div>
                        <h4><span class="cto">99</span>K</h4>
                        <p>Win Awards</p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="achievement-wrap">
                    <div class="achievement-content">
                        <div class="ache-icon red"><i class="ti-face-smile"></i></div>
                        <h4><span class="cto">7.2</span>M</h4>
                        <p>Happy Clients</p>
                    </div>
                </div>
            </div>
            
        </div>
            
    </div>
</section>
<!-- ========================== About Elements ============================= -->

<!-- ========================== About Elements ============================= -->
<section class="gray-light">
    <div class="container">
    
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-9">
                <div class="sec-heading">
                    <h2>Our Professional <span class="theme-cl-2">Team</span></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
        
        <div class="row justify-content-center">
            <!-- Single -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="team-grid">
                    <div class="teamgrid-user">
                        <img src="assets/img/team-1.jpg" alt="" class="img-fluid">
                    </div>
                    
                    <div class="teamgrid-content">
                        <h4>Rahul Gilkrist</h4>
                        <span>App Designer</span>
                    </div>
                    
                    <div class="teamgrid-social">
                        <ul>
                            <li><a href="#" class="f-cl" tabindex="0"><i class="ti-facebook"></i></a></li>
                            <li><a href="#" class="t-cl" tabindex="0"><i class="ti-twitter"></i></a></li>
                            <li><a href="#" class="i-cl" tabindex="0"><i class="ti-instagram"></i></a></li>
                            <li><a href="#" class="l-cl" tabindex="0"><i class="ti-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <!-- Single -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="team-grid">
                    <div class="teamgrid-user">
                        <img src="assets/img/team-2.jpg" alt="" class="img-fluid">
                    </div>
                    
                    <div class="teamgrid-content">
                        <h4>Shivangi Preet</h4>
                        <span>App Designer</span>
                    </div>
                    
                    <div class="teamgrid-social">
                        <ul>
                            <li><a href="#" class="f-cl" tabindex="0"><i class="ti-facebook"></i></a></li>
                            <li><a href="#" class="t-cl" tabindex="0"><i class="ti-twitter"></i></a></li>
                            <li><a href="#" class="i-cl" tabindex="0"><i class="ti-instagram"></i></a></li>
                            <li><a href="#" class="l-cl" tabindex="0"><i class="ti-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <!-- Single -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="team-grid">
                    <div class="teamgrid-user">
                        <img src="assets/img/team-3.jpg" alt="" class="img-fluid">
                    </div>
                    
                    <div class="teamgrid-content">
                        <h4>Yash Preet</h4>
                        <span>App Designer</span>
                    </div>
                    
                    <div class="teamgrid-social">
                        <ul>
                            <li><a href="#" class="f-cl" tabindex="0"><i class="ti-facebook"></i></a></li>
                            <li><a href="#" class="t-cl" tabindex="0"><i class="ti-twitter"></i></a></li>
                            <li><a href="#" class="i-cl" tabindex="0"><i class="ti-instagram"></i></a></li>
                            <li><a href="#" class="l-cl" tabindex="0"><i class="ti-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <!-- Single -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="team-grid">
                    <div class="teamgrid-user">
                        <img src="assets/img/team-4.jpg" alt="" class="img-fluid">
                    </div>
                    
                    <div class="teamgrid-content">
                        <h4>Dhananjay Preet</h4>
                        <span>App Designer</span>
                    </div>
                    
                    <div class="teamgrid-social">
                        <ul>
                            <li><a href="#" class="f-cl" tabindex="0"><i class="ti-facebook"></i></a></li>
                            <li><a href="#" class="t-cl" tabindex="0"><i class="ti-twitter"></i></a></li>
                            <li><a href="#" class="i-cl" tabindex="0"><i class="ti-instagram"></i></a></li>
                            <li><a href="#" class="l-cl" tabindex="0"><i class="ti-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <!-- Single -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="team-grid">
                    <div class="teamgrid-user">
                        <img src="assets/img/team-5.jpg" alt="" class="img-fluid">
                    </div>
                    
                    <div class="teamgrid-content">
                        <h4>Rahul Gilkrist</h4>
                        <span>App Designer</span>
                    </div>
                    
                    <div class="teamgrid-social">
                        <ul>
                            <li><a href="#" class="f-cl" tabindex="0"><i class="ti-facebook"></i></a></li>
                            <li><a href="#" class="t-cl" tabindex="0"><i class="ti-twitter"></i></a></li>
                            <li><a href="#" class="i-cl" tabindex="0"><i class="ti-instagram"></i></a></li>
                            <li><a href="#" class="l-cl" tabindex="0"><i class="ti-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <!-- Single -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="team-grid">
                    <div class="teamgrid-user">
                        <img src="assets/img/team-1.jpg" alt="" class="img-fluid">
                    </div>
                    
                    <div class="teamgrid-content">
                        <h4>Adam Wilcard</h4>
                        <span>App Designer</span>
                    </div>
                    
                    <div class="teamgrid-social">
                        <ul>
                            <li><a href="#" class="f-cl" tabindex="0"><i class="ti-facebook"></i></a></li>
                            <li><a href="#" class="t-cl" tabindex="0"><i class="ti-twitter"></i></a></li>
                            <li><a href="#" class="i-cl" tabindex="0"><i class="ti-instagram"></i></a></li>
                            <li><a href="#" class="l-cl" tabindex="0"><i class="ti-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <!-- Single -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="team-grid">
                    <div class="teamgrid-user">
                        <img src="assets/img/team-2.jpg" alt="" class="img-fluid">
                    </div>
                    
                    <div class="teamgrid-content">
                        <h4>Rajni Kantio</h4>
                        <span>App Designer</span>
                    </div>
                    
                    <div class="teamgrid-social">
                        <ul>
                            <li><a href="#" class="f-cl" tabindex="0"><i class="ti-facebook"></i></a></li>
                            <li><a href="#" class="t-cl" tabindex="0"><i class="ti-twitter"></i></a></li>
                            <li><a href="#" class="i-cl" tabindex="0"><i class="ti-instagram"></i></a></li>
                            <li><a href="#" class="l-cl" tabindex="0"><i class="ti-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <!-- Single -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="team-grid">
                    <div class="teamgrid-user">
                        <img src="assets/img/team-3.jpg" alt="" class="img-fluid">
                    </div>
                    
                    <div class="teamgrid-content">
                        <h4>Rahul Rio Singh</h4>
                        <span>App Designer</span>
                    </div>
                    
                    <div class="teamgrid-social">
                        <ul>
                            <li><a href="#" class="f-cl" tabindex="0"><i class="ti-facebook"></i></a></li>
                            <li><a href="#" class="t-cl" tabindex="0"><i class="ti-twitter"></i></a></li>
                            <li><a href="#" class="i-cl" tabindex="0"><i class="ti-instagram"></i></a></li>
                            <li><a href="#" class="l-cl" tabindex="0"><i class="ti-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
            
    </div>
</section>
<!-- ========================== About Elements ============================= -->
