<!-- ========================== Éléments À Propos ============================= -->
<!-- <section>
    <div class="container">
    
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-9">
                <div class="sec-heading">
                    <h2>Le succès des <span class="theme-cl-2">Entreprises</span></h2>
                    <p>Découvrez les entreprises qui utilisent notre plateforme et leur succès.</p>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="achievement-wrap">
                    <div class="achievement-content">
                        <div class="ache-icon purple"><i class="ti-briefcase"></i></div>
                        <h4><span class="cto">500</span>+</h4>
                        <p>Entreprises enregistrées</p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="achievement-wrap">
                    <div class="achievement-content">
                        <div class="ache-icon green"><i class="ti-user"></i></div>
                        <h4><span class="cto">1</span>K</h4>
                        <p>Collaborateurs</p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="achievement-wrap">
                    <div class="achievement-content">
                        <div class="ache-icon yellow"><i class="ti-medall-alt"></i></div>
                        <h4><span class="cto">50</span>+</h4>
                        <p>Récompenses obtenues</p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="achievement-wrap">
                    <div class="achievement-content">
                        <div class="ache-icon red"><i class="ti-face-smile"></i></div>
                        <h4><span class="cto">3.2</span>K</h4>
                        <p>Clients satisfaits</p>
                    </div>
                </div>
            </div>
            
        </div>
            
    </div>
</section> -->
<!-- ========================== Éléments À Propos ============================= -->


<!-- ========================== About Elements ============================= -->
<section class="gray-light">
    <div class="container">
    
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-9">
                <div class="sec-heading">
                    <h2>Nos Entreprises <span class="theme-cl-2">Partenaires</span></h2>
                    <p>Nous collaborons avec des entreprises leaders dans leurs secteurs pour offrir les meilleures opportunités à nos utilisateurs.</p>
                </div>
            </div>
        </div>
        
        <div class="row justify-content-center"> 
            @for (e of entreprises; track $index) {
            <!-- Single -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="team-grid">
                    <div class="teamgrid-user">
                        <img [src]=" 'http://localhost:9050/' + e.logoUrl " alt="" class="img-fluid">
                    </div>
                    
                    <div class="teamgrid-content">
                        <h4 class="_ser_title mb-2"><a [routerLink]="['/formations/entreprise',e.id]" routerLinkActive="router-link-active" >{{ e.nom }}</a></h4>
                        <hr class="name-underline">
                        <p><i class="fa fa-envelope"></i> {{ e.email }}</p>
                        <p><i class="fa fa-phone"></i> {{ e.telephone }}</p>
                        <p><i class="fa fa-map-marker"></i> {{ e.adresse?.rue }}, {{ e.adresse?.ville }}, {{ e.adresse?.codePostal }}, {{ e.adresse?.pays }}</p>
                    </div>
                    
                    
                    <div class="teamgrid-social">
                        <ul>
                            <li><a href="#" class="f-cl" tabindex="0"><i class="ti-facebook"></i></a></li>
                            <li><a href="#" class="t-cl" tabindex="0"><i class="ti-twitter"></i></a></li>
                            <li><a href="#" class="i-cl" tabindex="0"><i class="ti-instagram"></i></a></li>
                            <li><a href="#" class="l-cl" tabindex="0"><i class="ti-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>    
            }      
        </div>
            
    </div>
</section>
<!-- ========================== About Elements ============================= -->
