<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <!-- Breadcrumbs -->
        <div class="bredcrumb_wrap">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                <li class="breadcrumb-item"><a href="#">Tableau de bord</a></li>
                <li class="breadcrumb-item active" aria-current="page">Formations en attente</li>
              </ol>
            </nav>	
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        
        <!-- Single Wrap -->
        <div class="_dashboard_content">
            <div class="_dashboard_content_header">
                <div class="_dashboard__header_flex">
                    <h4><i class="ti-book mr-1"></i>Formations en attente</h4>	
                </div>
            </div>
            
            <div class="_dashboard_content_body p-0">
                <div class="_grouping_list_task">
                    
                    <!-- Formation Item -->
                     @for (item of listFormationEnAttente; track $index) {
                    <div class="_manage_task_list">
                        <!-- Image de la formation -->
                        <div class="mr-3">
                            <img [src]=" 'http://localhost:9050/' + item.formation.imageUrl"  alt="Image formation" style="width: 80px; height: 80px; object-fit: cover; border-radius: 8px;">
                        </div>
                        <div class="_manage_task_list_flex">
                            <h4 class="_jb_title">{{ item.formation.titre}}</h4>
                            
                            <ul class="_action_grouping_list">
                                <li><a (click)="supprimerInscription(item.id)" data-toggle="tooltip" title="Supprimer la formation" class="_delete_point"><i class="fa fa-trash"></i></a></li>
                                <li>
                                    <span class="badge bg-warning text-dark p-2">En attente</span> 
                                </li>
                            </ul>
                        </div>
                        <div class="_manage_task_list_right">
                            <div class="_act_tsk_info">
                                <ul class="_act_tsk_list">
                                    <li>
                                        <div class="_act_capt_01">
                                            <h5>{{ item.formation.dateDebut}}</h5>
                                            <span>Date de début</span>	
                                        </div>
                                    </li>
                                    <li>
                                        <div class="_act_capt_01">
                                            <h5>{{ item.formation.dateFin}}</h5>
                                            <span>Date de fin</span>	
                                        </div>
                                    </li>
                                    <li>
                                        <div class="_act_capt_01">
                                            <h5>{{ item.formation.prix}} TND</h5>
                                            <span>Prix</span>	
                                        </div>
                                    </li>
                                    
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    }   
                    <!-- Fin Formation Item -->

                
                </div>
            </div>
        </div>
        <!-- Single Wrap End -->
        
    </div>
</div>
