		<!-- ============================ entreprise ================================== -->
        <div class="page-title search-form dark">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        
                        <div class="_jb_details01">
                            
                            <div class="_jb_details01_flex">
                                <div class="_jb_details01_authors">
                                    <img [src]=" 'http://localhost:9050/' + formation.entreprise.logoUrl" class="img-fluid" alt="" />
                                </div>
                                <div class="_jb_details01_authors_caption">
                                    <h4 class="jbs_title">{{formation.entreprise.nom}}<img src="assets/img/verify.svg" class="ml-1" width="12" alt=""></h4>
                                    <ul class="jbx_info_list">
                                        <li><span><i class="fa fa-envelope"></i>{{formation.entreprise.email}}</span></li>
                                        <li><span><i class="fa fa-phone"></i>{{formation.entreprise.telephone}}</span></li>
                                        <li><span><i class="ti-location-pin"></i>{{ formation.entreprise.adresse?.rue }}, {{ formation.entreprise.adresse?.ville }}, {{ formation.entreprise.adresse?.codePostal }}, {{ formation.entreprise.adresse?.pays }}</span></li>
                                       
                                    </ul>
                                    
                                </div>
                            </div>
                            
                            <div class="_jb_details01_last">
                                <ul class="_flex_btn">
                                    <li><a [routerLink]="['/formations/entreprise',formation.entreprise?.id]" class="_applied_jb">Voir plus de formations</a></li>
                                </ul>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================ entreprise ================================== -->
        
        <!-- ============================ Main Section Start ================================== -->
        <section class="gray-light">
            <div class="container">
                <div class="row">
                
                    <div class="col-lg-8 col-md-12 col-sm-12">
                        <div class="_job_detail_box">
                            
                          
                            <!-- ============================ description & planning formation ================================== -->
                            <div class="_wrap_box_slice">
                                
                            
                                <div class="_job_detail_single">
                                    <h4>Programme de Formation:</h4>
                                    <p>{{formation.description}}</p>
                                    @for (p of formation.planning; track $index) {
                                    <ul>
                                        <li>{{p}}</li>	
                                    </ul>
                                    }
                                </div>
                            
                                  
                            
                            </div>
                            
                            <!-- ============================ formateur ================================== -->
                            <div class="_wrap_box_slice">
                                <div class="_job_detail_single">
                                    <h4>Formateur Associé</h4>
                                    <div class="_proposal_bids_list">
                                        
                                        <!-- Single List -->
                                        <div class="_proposal_bids_single">
                                            <div class="_proposal_bids_flex">
                                                <div class="_proposal_bids_thumb">
                                                    <img [src]="'http://localhost:9050/' + formation.formateur?.photoUrl" class="img-fluid circle" alt="" />
                                                </div>
                                                <div class="_proposal_bids_caption mt-3">
                                                    <h4 class="mb-2"><a [routerLink]="['/formations/formateur',formation.formateur?.id ]">{{ formation.formateur.nom + " " + formation.formateur.prenom }}<img src="assets/img/verify.svg" class="ml-1" width="12" alt=""></a></h4>
                                                    <p><i class="fa fa-briefcase"></i> {{ formation.formateur.specialite }}</p>
                                                    <p><i class="fa fa-star"></i> {{ formation.formateur.experience }} ans</p>
                                                  
                                                </div>
                                            </div>
                                            <div class="_proposal_bids_right">
                                                <div class="_freelancer_rate">
                                                    <h4><i class="fa fa-envelope"></i> {{ formation.formateur.email }}</h4>
                                                    <span><i class="fa fa-phone"></i> {{ formation.formateur.telephone }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <!-- Détails de la formation -->
                    <div class="col-lg-4 col-md-12 col-sm-12">
                    
                        <div class="_jb_summary light_box">
                            <div class="_jb_summary_largethumb">
                               
                                <img [src]=" 'http://localhost:9050/' + formation.imageUrl" width="626px" height="417px" class="img-fluid" alt="" />
                            </div>
                            <div class="_jb_summary_thumb">
                                <img [src]=" 'http://localhost:9050/' + formation.entreprise.logoUrl" class="img-fluid" alt="" />
                            </div>
                            <div class="_jb_summary_caption">
                                <h4>{{formation.titre}}</h4>
                               
                                <h4 class="pises_price">{{ formation.prix }} TND<sub>/formation</sub></h4>
                            </div>
                            <div class="_jb_summary_body">
                                @if (!(this.authService.getRoleFromToken()=="ENTREPRISE")) {
                                <div class="_view_profile_btns">
                                    <a href="employer-detail.html" class="btn btn_emplo_eloi">S'inscrire à cette formation</a>
                                </div>
                                }
                            </div>
                        </div>
                        
                        <div class="_jb_summary light_box p-4">
                            <h4>Détails de la formation</h4>
                            <ul>
                                <li><i class="fa fa-users"></i> Nombre de places : <span>{{ formation.nbrePlace }}</span></li>
                                <li><i class="fa fa-clock"></i> Durée : <span>{{ formation.duree }} heures</span></li>
                                <li><i class="fa fa-calendar-alt"></i> Dates : <span>{{ formation.dateDebut }} - {{ formation.dateFin }}</span></li>
                            </ul>
                        </div>
                        
                    
                    </div>
                    
                </div>
            </div>
        </section>
        <!-- ============================ Main Section End ================================== -->
        