<div class="row">
    @for (item of mesFormations; track $index) {
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="ser_110 shadow_0">
            <div class="ser_110_thumb">
                <a href="javascript:void(0);" class="likes"><i class="fa fa-heart"></i></a>
                <a href="service-detail.html" class="ser_100_link"><img [src]=" 'http://localhost:9050/' + item.formation.imageUrl "
                        class="img-fluid" alt=""></a>
            </div>
            <div class="ser_110_caption">
                
                <div class="ser_title098">
                    <h4 class="_ser_title"><a href="service-detail.html">{{item.formation.titre}} </a></h4>
                    <p>{{item.formation.description}}</p>
                    <!-- entreprise -->
                    <div class="_110_foot_left">
                        <div class="_autho098">
                            <img [src]=" 'http://localhost:9050/' + item.formation.entreprise?.logoUrl " class="img-fluid circle" alt="">
                        </div>
                        <div class="_autho097">
                            <h5><a>{{item.formation.entreprise?.nom}}</a></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ser_110_footer">
                <div class="_110_foot_left">
                    <div class="_oi0po">
                        <i class="fa fa-calendar-alt"></i>{{ item.formation.dateDebut }} - {{ item.formation.dateFin }}
                    </div>
                   
                </div>
                <div class="_110_foot_right">
                    <div class="_oi0po">
                        <strong class="theme-cl">{{ item.formation.prix }} TN</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</div>