<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <!-- Breadcrumbs -->
        <div class="bredcrumb_wrap">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Post Task</li>
              </ol>
            </nav>	
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        
        <!-- Single Wrap -->
        <div class="_dashboard_content">
            <div class="_dashboard_content_header">
                <div class="_dashboard__header_flex">
                    <h4><i class="ti-briefcase mr-1"></i>Ajouter une nouvelle formation</h4>    
                </div>
            </div>
            
            <div class="_dashboard_content_body">
                <div class="row">

                    <!-- Titre de la formation -->
                    <div class="col-xl-4 col-lg-6">
                        <div class="form-group">
                            <label>Titre</label>
                            <input type="text" class="form-control with-light"  name="titre" required>
                        </div>
                    </div>
                    
                   

                    <!-- Date de début -->
                    <div class="col-xl-4 col-lg-6">
                        <div class="form-group">
                            <label>Date de début</label>
                            <input type="date" class="form-control with-light"name="dateDebut" required>
                        </div>
                    </div>

                    <!-- Date de fin -->
                    <div class="col-xl-4 col-lg-6">
                        <div class="form-group">
                            <label>Date de fin</label>
                            <input type="date" class="form-control with-light" name="dateFin" required>
                        </div>
                    </div>

                    <!-- Nombre de places -->
                    <div class="col-xl-4 col-lg-6">
                        <div class="form-group">
                            <label>Nombre de places</label>
                            <input type="number" class="form-control with-light" name="nbrePlace" required>
                        </div>
                    </div>

                    <!-- Durée de la formation -->
                    <div class="col-xl-4 col-lg-6">
                        <div class="form-group">
                            <label>Durée (en heures)</label>
                            <input type="number" class="form-control with-light" name="duree" required>
                        </div>
                    </div>

                    <!-- Prix de la formation -->
                    <div class="col-xl-4 col-lg-6">
                        <div class="form-group">
                            <label>Prix (TND)</label>
                            <input type="text" class="form-control with-light" name="prix" required>
                        </div>
                    </div>

                     <!-- Description de la formation -->
                     <div class="col-xl-4 col-lg-6">
                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control with-light" name="description" required></textarea>
                        </div>
                    </div>

                   


                    <!-- Formateur -->
                    <div class="col-xl-4 col-lg-6">
                        <div class="form-group">
                            <label>Formateur</label>
                            <select class="form-control with-light" name="formateur" required>
                                <option value="">Select Formateur</option>
                            </select>
                        </div>
                    </div>

                     <!-- Image -->
                     <div class="col-xl-4 col-lg-6">
                        <div class="form-group">
                            <label>Image</label>
                            <input type="file" class="form-control with-light" >
                        </div>
                    </div>


                     <!-- Planning -->
                      
                     <div class="col-xl-10 col-lg-6">
                        <div class="form-group">
                            <label>Planning</label>
                            @for (item of formation.planning; track $index) {
                            <div>
                                <input type="text" class="form-control with-light mb-2" name="planning" placeholder="Entrez le plan du jour {{$index + 1}}">
                            </div>
                            }
                            
                        </div>
                    </div>
                    <div class="col-xl-1 col-lg-6">
                        <button type="button" class="btn btn-primary" (click)="addPlanning()">+</button>
                    </div>

                   

                </div>
            </div>
        </div>
        <!-- Single Wrap End -->

        
        <button type="button" class="btn btn-save">Ajouter formation</button>
        
    </div>
</div>
